app-post {
  padding: 1em;
}

.container {
  text-align: center;
}

.noPostNotification {
  display: inline-block;
  margin: 2em;
  padding: 2em;
  text-align: center;
  background: #222;
  border-radius: 5px;

  p {
    font-size: 1rem;
  }
}
