<div class="container">

  <h2>Forum Explorer</h2>
  <hr>

  <app-forum-list #forumListComponent></app-forum-list>

  <div class="spacer"></div>

  <app-add-forum (newForumEvent)="forumListComponent.addForum($event)"
                 *ngIf="authService.isLoggedIn() else log_in_prompt"></app-add-forum>

  <ng-template #log_in_prompt>
    <button [queryParams]="{return_to_previous: true}" color="primary" mat-raised-button
            routerLink="/user/login">Log in to create your own forums!
    </button>
  </ng-template>

</div>
