* {
  max-width: 1024px;
  display: block;
  margin: auto;
}

.control-bar {
  padding: 0 2em;
  height: 2em;

  button {
    // for spacing between buttons in the control bar
    margin: 0 0 0 1em;
    float: right;
  }
}

.container {
  padding: 2em;
  text-align: center;
}

app-post-feed {
  // to undo the text-align centre in the post feed
  text-align: left;
}

app-add-post {
  max-width: 700px;
  width: 100%;
  display: inline-block;
}

