div.container {
  box-sizing: border-box;
  padding: 1em;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top_menu {

    ul {
      list-style: none;
      padding-left: 0;

      li {
        &:hover {
          cursor: pointer;
        }

        a {
          padding: 1em 1em;
          display: block;
          width: 100%;
          text-decoration: none;
          color: white;
          box-sizing: border-box;

          &:focus, &:hover {
            outline: none;
            background: #222;
          }
        }
      }
    }
  }
}
