<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">

  <div>
    <label for='title'>Title</label>
    <input formControlName="title" id='title' type="text">
    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.errors.required">
        A post must contain a title.
      </div>
      <div *ngIf="title.errors.maxLength">
        A title cannot be longer than 100 characters.
      </div>
    </div>
  </div>

  <div>
    <label for="body">Body</label>
    <input formControlName="body" id="body" type="text">
    <div *ngIf="body.invalid && (body.dirty || body.touched)">
      <div *ngIf="body.errors.required">
        A post must contain some text in the body.
      </div>
    </div>
  </div>

  <button class="button" type="submit">Post</button>
</form>
