<form (ngSubmit)="onSubmit(newPostForm.value)" [formGroup]="newPostForm">

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input formControlName="title" id="title" matInput type="text">
    <mat-error>{{titleErrors}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Body</mat-label>
    <textarea formControlName="body" id="body" matInput type="text"></textarea>
    <mat-error>{{bodyErrors}}</mat-error>
  </mat-form-field>

  <button class="button" color="primary" mat-raised-button type="submit">Post</button>
</form>
