<form (ngSubmit)="onSubmit(newPostForm.value)" [formGroup]="newPostForm">

  <div>
    <label for='title'>Title</label>
    <input formControlName="title" id='title' type="text">
    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="formErrors">
      <div *ngFor="let error of titleErrors" class="formError">
        invalid: {{error}}
      </div>
    </div>
  </div>

  <div>
    <label for="body">Body</label>
    <input formControlName="body" id="body" type="text">
    <div *ngIf="body.invalid && (body.dirty || body.touched)" class="formErrors">
      <div *ngFor="let error of bodyErrors" class="formError">
        invalid: {{error}}
      </div>
    </div>
  </div>

  <button class="button" type="submit">Post</button>
</form>
