<form #ngForm="ngForm" (ngSubmit)="onSubmit(newForumForm.value); ngForm.resetForm();" [formGroup]="newForumForm">

  <mat-form-field>
    <mat-label>Forum name</mat-label>
    <input formControlName="name" id="name" matInput type="text">
    <mat-error>{{nameErrors}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Forum Description</mat-label>
    <textarea formControlName="description" id="description" matInput type="text"></textarea>
    <mat-error>{{descriptionErrors}}</mat-error>
  </mat-form-field>

  <button [disabled]="newForumForm.invalid" class="button" color="primary" mat-raised-button type="submit">Create
    Forum
  </button>
</form>
