mat-sidenav-container {
  height: 100%;
}

span.burger_menu {
  font-size: 2em;
  margin-left: 0.5em;

  &:hover {
    cursor: pointer;
  }
}

.titleBar {
  margin-top: 0.5em;

  .siteTitle {
    display: inline;
    padding-top: 0.5em;
    padding-left: 0.5em;

    .super-light {
      font-weight: 100;
    }
  }
}
